#searchBar {
  margin: 15px 10px;
}

form {
    border: 2px solid black;
    margin: 40px;
    padding: 20px;
}

.jumbotron {
    border: 5px solid black;
    padding: 0;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}